.blog {
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.blog .content-index .card {
  position: fixed;
  z-index: 2;
}

.blog .content-blog .card {
  width: 90%;
  padding: 5%;
  min-height: 40vh;
}

@media (max-width: 800px) {
  .blog .content-index .card {
    position: relative;
    margin-bottom: 5%;
  }
  .blog {
    grid-template-columns: 1fr;
  }
}
