@import "../../../subatoms/build/scss/variables";

.stack {
  display: grid;
  align-items: center;
  text-align: center;
  /*cursor: pointer;*/
}

.stack:hover:after {
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 211, 211, 0.171);
  position: absolute;
}

.stack .icon {
  font-size: $size-general-xlarge;
}
