@import "../../../subatoms/build/scss/variables";

.radio,
.radio {
  display: flex;
  flex-direction: column;
  position: relative;
}

.radio.single .choice.selected button,
.radio.single .choice.selected button {
  cursor: inherit;
}

.radio.small .choice {
  display: flex;
  margin-top: $size-general-xsmall;
  font-family: $font-base-primary;
  color: $color-font-primary;
  font-size: $size-font-small;
}

.radio.small .choice button {
  border-style: solid;
  border-color: transparent;
  margin-right: $size-general-xsmall;
  cursor: pointer;
}

.radio.small.single .choice button {
  padding: $size-general-xsmall;
  border-radius: $size-general-medium;
  border-width: $size-general-xsmall;
}

.radio.small.multiple .choice button {
  width: $size-general-small;
  height: $size-general-medium;
  font-size: $size-font-small;
}

.radio.medium .choice {
  display: flex;
  margin-top: $size-general-small;
  font-family: $font-base-primary;
  color: $color-font-primary;
  font-size: $size-font-medium;
}

.radio.medium .choice button {
  border-style: solid;
  border-color: transparent;
  margin-right: $size-general-small;
  cursor: pointer;
}

.radio.medium.single .choice button {
  padding: $size-general-xsmall;
  border-radius: $size-general-medium;
  border-width: $size-general-small;
}

.radio.medium.multiple .choice button {
  width: $size-general-medium;
  height: $size-general-medium;
  font-size: $size-font-medium;
}

.radio.large .choice {
  display: flex;
  margin-top: $size-general-medium;
  font-family: $font-base-primary;
  color: $color-font-primary;
  font-size: $size-font-large;
}

.radio.large .choice button {
  border-style: solid;
  border-color: transparent;
  margin-right: $size-general-medium;
  cursor: pointer;
}

.radio.large.single .choice button {
  padding: $size-general-small;
  border-radius: $size-general-large;
  border-width: $size-general-medium;
}

.radio.large.multiple .choice button {
  width: $size-general-large;
  height: $size-general-large;
  font-size: $size-font-large;
}

.radio.single .choice button {
  background-color: $color-base-primary-light;
  box-shadow: 0 0 $size-general-small 0 $color-base-primary-light;
}

.radio.single .choice.selected button {
  border-color: $color-base-primary;
}

.radio.multiple .choice button {
  background-color: $color-base-primary-light;
  box-shadow: 0 0 $size-general-small 0 $color-base-primary-light;
  color: $color-font-primary;
}
