@import "../../../subatoms/build/scss/variables";

.header {
  position: relative;
  font-family: $font-base-primary;
  color: $color-font-primary;
}

.header.small {
  letter-spacing: $size-general-xxsmall;
  font-size: $size-general-medium;
}

.header.medium {
  letter-spacing: $size-general-xsmall;
  font-size: $size-general-large;
}

.header.large {
  letter-spacing: $size-general-small;
  font-size: $size-general-xlarge;
}

.header.dark {
  color: $color-base-primary-light;
}
